USE [master]
GO
/****** Object:  Database [DATABASE_PYE]    Script Date: 22/02/2026 8:26:37 ******/
CREATE DATABASE [DATABASE_PYE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATABASE_PYE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ALEJANDROR\MSSQL\DATA\DATABASE_PYE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATABASE_PYE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ALEJANDROR\MSSQL\DATA\DATABASE_PYE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATABASE_PYE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATABASE_PYE]
GO
/****** Object:  User [UserPowerUpEv]    Script Date: 22/02/2026 8:26:38 ******/
CREATE USER [UserPowerUpEv] FOR LOGIN [UserPowerUpEv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbCategorias]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbClientes]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbClientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbEmpleados]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbEmpleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](255) NOT NULL,
	[Telefono] [nvarchar](15) NULL,
	[Estado] [bit] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[IdPerfil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPerfil]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPerfil](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPerfiles]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPerfiles](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProductos]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProductos](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[Stock] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Imagen] [nvarchar](255) NULL,
	[CategoriaID] [int] NULL,
	[ProveedorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProveedores]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProveedores](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [nvarchar](150) NOT NULL,
	[Contacto] [nvarchar](100) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [nvarchar](255) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuario]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Identificacion] [varchar](15) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Contrasenna] [varchar](255) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdPerfil] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Correo]    Script Date: 22/02/2026 8:26:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_Correo] ON [dbo].[tbEmpleados]
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_IdPerfil]    Script Date: 22/02/2026 8:26:38 ******/
CREATE NONCLUSTERED INDEX [idx_IdPerfil] ON [dbo].[tbEmpleados]
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbClientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[tbClientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[tbEmpleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[tbProveedores] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[tbProveedores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[tbProveedores] ADD  CONSTRAINT [DF_tbProveedores_Tipo]  DEFAULT ('Nacional') FOR [Tipo]
GO
ALTER TABLE [dbo].[tbEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Perfiles] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[tbPerfiles] ([IdPerfil])
GO
ALTER TABLE [dbo].[tbEmpleados] CHECK CONSTRAINT [FK_Empleados_Perfiles]
GO
ALTER TABLE [dbo].[tbProductos]  WITH CHECK ADD  CONSTRAINT [FK_Categoria] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[tbCategorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[tbProductos] CHECK CONSTRAINT [FK_Categoria]
GO
ALTER TABLE [dbo].[tbProductos]  WITH CHECK ADD  CONSTRAINT [FK_tbProductos_tbProveedores] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[tbProveedores] ([ProveedorID])
GO
ALTER TABLE [dbo].[tbProductos] CHECK CONSTRAINT [FK_tbProductos_tbProveedores]
GO
ALTER TABLE [dbo].[tbUsuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Perfil] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[tbPerfil] ([IdPerfil])
GO
ALTER TABLE [dbo].[tbUsuario] CHECK CONSTRAINT [FK_Usuario_Perfil]
GO
ALTER TABLE [dbo].[tbProveedores]  WITH CHECK ADD  CONSTRAINT [CK_tbProveedores_Tipo] CHECK  (([Tipo]='Internacional' OR [Tipo]='Nacional'))
GO
ALTER TABLE [dbo].[tbProveedores] CHECK CONSTRAINT [CK_tbProveedores_Tipo]
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuarios]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CrearUsuarios]
    @Identificacion      VARCHAR(15),
    @Nombre              VARCHAR(255),
    @CorreoElectronico   VARCHAR(100),
    @Contrasenna         VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.tbUsuario
        WHERE Identificacion = @Identificacion
           OR CorreoElectronico = @CorreoElectronico
    )
    BEGIN
        SELECT 0 AS Resultado;  -- ya existe
        RETURN;
    END

    INSERT INTO dbo.tbUsuario
    (
        Identificacion,
        Nombre,
        CorreoElectronico,
        Contrasenna,
        Estado,
        IdPerfil
    )
    VALUES
    (
        @Identificacion,
        @Nombre,
        @CorreoElectronico,
        @Contrasenna,
        1,
        2
    );

    SELECT 1 AS Resultado; -- insert ok
END

GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 22/02/2026 8:26:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LoginUsuario]
    @CorreoElectronico VARCHAR(100),
    @Contrasenna       VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.tbUsuario
        WHERE CorreoElectronico = @CorreoElectronico
          AND Contrasenna = @Contrasenna
          AND Estado = 1
    )
    BEGIN
        SELECT 1 AS Resultado; -- login ok
        RETURN;
    END

    SELECT 0 AS Resultado; -- login fail
END

GO
USE [master]
GO
