<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Sitio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Aquí puedes poner tus CSS del login/registro -->


    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>
